{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% load static %}

{% block content %}

    <!-- Services Section Start -->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Explorá un nuevo mundo</h2>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fas fa-cogs"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Blog</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="far fa-chart-bar"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Lista de correo</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Proyectos</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="far fa-file-alt"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Próximos Eventos</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
              <div class="icon">
                <i class="fas fa-mobile-alt"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Videos</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
              <div class="icon">
                <i class="fas fa-thumbtack"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">PyCon Costa Rica</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Feature Section Start -->
    <div id="feature">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper">
              <div>
                <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">Conocenos</h2>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.3s">
                      <div class="features-icon">
                        <i class="fal fa-folder-open"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Proyectos
                        </h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora quidem vel sint.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.6s">
                      <div class="features-icon">
                        <i class="fas fa-briefcase"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Únete
                        </h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora quidem vel sint.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.9s">
                      <div class="features-icon">
                       <i class="fas fa-cogs"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Comunidad Software Libre UCR
                        </h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora quidem vel sint.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="1.2s">
                      <div class="features-icon">
                        <i class="fas fa-leaf"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Comparte
                        </h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora quidem vel sint.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 padding-none">
            <div class="feature-thumb wow fadeInRight" data-wow-delay="0.3s">
              <img src="{% static "img/community.png" %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature Section End -->

    <!-- Subscribe Section Start -->
    <section id="subscription" class="subscribes section-padding">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10 col-lg-5">
            <h4 class="wow fadeInUp" data-wow-delay="0.3s">Subscríbete a la lista de correo</h4>
            <p class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Veniam tempora quidem vel sint.</p>
            <form action="#" method="post">
              {% csrf_token %}
              <div class="subscribe wow fadeInDown" data-wow-delay="0.3s">
                {{ subscribe_form.email|attr:"class:form-control"|attr:"placeholder:Correo electrónico" }}
                {{ subscribe_form.email.errors }}
                <input type="hidden" name="subscribe">
                <button class="btn-submit" type="submit"><i class="fas fa-angle-right"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Subscribe Section End -->

    <!-- Contact Section Start -->
    <section id="contact" class="contact-info section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-header text-center">
              <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Contáctanos</h2>
            </div>
          </div>
        </div>
        <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="contact-block">
              <h2>Formulario de contácto</h2>
              {{ contact_form.non_field_errors }}
              <form id="contactForm" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {{ contact_form.name|attr:"class:form-control"|attr:"id:name"|attr:"placeholder:Nombre"|attr:"data-error:Ingresa tu nombre" }}
                      <div class="help-block with-errors"></div>
                      {{ contact_form.name.errors }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      {{ contact_form.sender|attr:"placeholder:Correo"|attr:"id:email"|attr:"class:form-control"|attr:"name:email"|attr:"data-error:Ingresa tu correo" }}
                      <div class="help-block with-errors"></div>
                      {{ contact_form.sender.errors }}
                    </div>
                  </div>
                   <div class="col-md-12">
                    <div class="form-group">
                      {{ contact_form.subject|attr:"placeholder:Asunto"|attr:"id:msg_subject"|attr:"class:form-control"|attr:"data-error:Ingresa el asunto" }}
                      <div class="help-block with-errors"></div>
                      {{ contact_form.subject.errors }}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      {{ contact_form.message|attr:"data-error:Escribe tu mensaje"|attr:"rows:5"|attr:"placeholder:Tu mensaje"|attr:"id:subject"|attr:"class:form-control" }}
                      <div class="help-block with-errors"></div>
                      {{ contact_form.message.errors }}
                    </div>
                    <div class="submit-button">
                      <input type="hidden" name="contact">
                      <button class="btn btn-common" id="form-submit" type="submit">Enviar Mensaje</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="contact-right-area wow fadeIn">
              <div class="contact-right">
                <div class="single-contact">
                  <div class="contact-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <p>San José, Costa Rica</p>
                </div>
                <div class="single-contact">
                  <div class="contact-icon">
                    <i class="fas fa-envelope-open"></i>
                  </div>
                  <p><a href="#">info@python.cr</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section End -->


{% endblock content %}